# Secrets et données sensibles
secrets.nix
*.key
*.pem
*.p12
*.pfx
*.age
*.gpg

# Logs et temporaires
*.log
*.log.*
*.tmp
result
result-*

# Backup files
*~
*.bak
*.swp

**/node_modules
**/__pycache__

.direnv
.cerbot

.env